.App {
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0aada5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}


.App-link {
  color: #61dafb;
}

table, td, th {
  border: 0px !important;
}


h2{
  margin-top: 4rem;
  background-color: rgb(43, 226, 125);
  border-radius: 40px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer{
  position: absolute;
  bottom:0;
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color:white;
}

span {
  
  color: #02bb5e;
}